# A simple configuration file for monitoring the local host
# This can serve as an example for configuring other servers;
# Custom services specific to this host are added here, but services
# defined in icinga-common_services.cfg may also apply.
# 

define host{
        use                     generic-host,host-pnp            ; Name of host template to use
        host_name               mysql-sc
        alias                   MySQL SC Google
        address                 10.142.0.3
        }

# Define a service to check the disk space of the root partition
# on the local machine.  Warning if < 20% free, critical if
# < 10% free space on partition.

